<div class="row">
    <section class="main col-md-9">
        {{#if data.post}}
        <article>
            <h2>{{data.post.title}}</h2>
            <img src="{{data.post.featureImage}}" alt="feature Image" style="width:100%" />
            <br /><br />
            {{#safeHTML data.post.body}}
            {{data.post.body}}
            {{/safeHTML}}
            <br /><br />
            <strong>Category:</strong> {{data.post.CategoryId}}<br />
            <strong>Last Updated:</strong> {{formatDate data.post.postDate}}

        </article>
        {{/if}}

        {{#if data.message}}
        <div class="col-md-12 text-center">
            <h2>{{data.message}}</h2>
            <p>Please try another Post / Category</p>
        </div>
        {{/if}}
    </section>
    <aside class="col-md-3">
        <br /><br />
        {{#if data.posts}}
        <h4>Posts</h4>

        <ul class="list-group">
            {{#each data.posts}}
            <a href="/blog/{{id}}?category={{data.post.category}}" class="list-group-item">{{title}}</a>
            {{/each}}
        </ul>
        {{/if}}
        {{#if data.categories}}
        <h4>Categories</h4>

        <ul class="list-group">
            {{#each data.categories}}
            <a href="/blog?category={{id}}" class="list-group-item">{{category}}</a>
            {{/each}}
        </ul>
        {{/if}}
    </aside>
</div>